@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #D3EBCD;
    --secondary: #113250;
    --dark: #1F1F1F;
    --body: #1F1F1F;
    --white: #ffffff;
}

*{  
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    color: #ffffff;
}

body {
    background-color: #1F1F1F;
}

.btn {
    font-weight: 500;
}