@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #D3EBCD;
    --secondary: #113250;
    --dark: #1F1F1F;
    --body: #1F1F1F;
    --white: #ffffff;
}

*{  
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
    color: #ffffff;
}

body {
    background-color: #1F1F1F;
}

.btn {
    font-weight: 500;
}

.rating {
    display: inline-block;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    float: right;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    background-image: url("star.png"); /* Ganti dengan URL gambar bintang Anda */
    background-position: 0 -20px;
    cursor: pointer;
  }
  
  .rating label:hover,
  .rating label:hover ~ label,
  .rating input[type="radio"]:checked ~ label {
    background-position: 0 0;
  }
  