@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #D3EBCD;
    --secondary: #113250;
    --dark: #1F1F1F;
    --body: #1F1F1F;
    --white: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: lighter;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #113250;
    font-family: 'Inter', sans-serif;
}

.login {
    width: 500px;
    height: 550px;
    padding: 20px;
    border-radius: 12px;
    background-color: #1F1F1F;
    margin: 12px;
}

.register {
    width: 500px;
    height: 700px;
    padding: 20px;
    border-radius: 12px;
    background-color: #1F1F1F;
    margin: 12px;
}

h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #ffffff;
    margin-top: 25px;
}

form {
    margin: 12px;
}

.form-label {
    color: #ffffff;
    font-weight: lighter; 
}

.form-group {
    margin-bottom: 15px;
}

.btn {
    font-weight: bolder;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 170px;
    height: 50px;
    background-color: #113250;
    color: #ffffff;     
}

.button-container {
    display: flex;
    justify-content: center;
}